.font-face(@fontFamily, @file-path, @weight: normal, @style: normal, @svgLabel: false) {

  @font-face {
    font-family: @fontFamily;
    font-weight: @weight;
    font-style: @style;

    src: url('@{file-path}.eot');
    src: url('@{file-path}.eot?#iefix') format('embedded-opentype'),
    url('@{file-path}.woff') format('woff'),
    url('@{file-path}.ttf') format('truetype'),
    url('@{file-path}.svg#@{svgLabel}') format('svg');


  }

}

// Google Fonts
/////////////////////////////////////////////////////////

.google-font-load(@name) {
  @import url('https://fonts.googleapis.com/css?family=@{name}');
}