* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }

  &::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
  }


  &:-moz-placeholder {
    color: #666;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: #666;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #666;
    opacity: 1;
  }

}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  opacity: 1;
}


body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
